* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-areas:
        "main1 main2 main2"
    ;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 100vh 100vh;
    height: 100vh;
}

.main {
    grid-area: main1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100px);
}

.submain {
    grid-area: main2;
    position: relative;
}

.submain::before {
    content: "";
    background: url(pexels-anytiffng-2697018.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    z-index: -1;
    opacity: 0.8;
    border-radius: 100px;
    top: 5px;
}
header{
    transform: translateY(-30px);
}
header h1{
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
header p{
    font-size: 15px;
    font-weight: normal;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email, .password{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.email{
    padding: 10px;
    transition: transform 0.5s ease-out;
}
.email:hover{
    transform: scale(1.05);
    border: 1px solid rgba(121, 246, 208, 0.84);
}
label{
    font-size: 20px;
}
.back{
    text-align: center;
}
