* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    background: url(pexels-asadphoto-1456291.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    z-index: -1;
}

main {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 100px;
    /* backdrop-filter: blur(5px); */
    box-shadow: 20px 20px 5px 5px rgba(255, 255, 255, 0.5);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    margin: 30px;
    padding: 10px;
}
label{
    font-size: 20px;
    font-weight: normal;
}
.remember{
    font-size: 15px;
    font-weight: normal;
}
input[type="email"],
input[type="password"] {
    width: 300px;
}

input[type="checkbox"] {
    width: auto;
}

