*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body::before{
    content: "";
    background: url(pexels-pixabay-462162.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}
