* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    background: url(pexels-asadphoto-1456291.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    z-index: -1;
}

main {
    width: 500px;
    height: 800px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 100px;
    /* backdrop-filter: blur(5px); */
    box-shadow: 20px 20px 5px 5px rgba(255, 255, 255, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin: 60px;
    padding: 10px;
}

label {
    font-size: 20px;
    font-weight: normal;
}

.show {
    font-size: 15px;
    font-weight: normal;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
}

#email {
    width: 300px;
    transition: transform 0.5s ease-in;
}

#password {
    width: 300px;
    transition: transform 0.5s ease-in;
}

#email:hover,
#password:hover, .login:hover , .google:hover {
    transform: scale(1.05);
}

#showPassword {
    width: auto;
}


.forgot-password {
    margin-left: 80px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.fors {
    margin: 10px;
    padding: 10px;
}

.login {
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid black;
    transition: transform 0.5s ease-in;
}

.sign-up {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    padding: 10px;
}

.google {
    width: 300px;
    margin: 50px;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    transition: transform 0.5s ease-in;
}

.divider {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 20px 0;
    font-size: 14px;
    color: #333;
}

.divider::before,
.divider::after {
    content: "";
    flex: 2;
    height: 2px;
    background-color: #040404;
}

.divider span {
    padding: 0 12px;
    white-space: nowrap;
}