* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
        "left article"
        "left article";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

form {
    background: white;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 20px 20px rgba(121, 246, 208, 0.84);
}


.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: left;
}

article {
    grid-area: article;
    padding: 20px;
    position: relative;
}

article::before {
    content: "";
    background: url(pexels-rednguyen-29346994.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    z-index: -1;
    opacity: 0.9;
    border-radius: 100px;
    top: 5px;
}

header {
    margin-bottom: 150px;
}

header h1 {
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

header p {
    font-size: 15px;
    font-weight: normal;
}

input {
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid black;
    font-size: 16px;
    background-color: rgb(255, 252, 252);
    transition: all 0.5s ease-out;
}

input[type="checkbox"] {
    width: auto;
}

input:hover {
    border: 1px solid rgba(121, 246, 208, 0.84);
    transform: scale(1.05);
}

input:focus {
    outline: none;
    border: 2px solid #4f46e5;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-70px);
}

.showpassword {
    display: flex;
    flex-direction: row;
}

.show {
    margin-top: 6px;
}

button {
    padding: 10px;
}

.another {
    margin: 10px;
    width: 100px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(255, 252, 252);
    transition: all 0.5s ease-out;
}

.another:hover {
    border: 1px solid rgba(121, 246, 208, 0.84);
    transform: skewy(10deg);
}

.sign-up {
    border-radius: 15px;
    width: 300px;
    background-color: rgba(121, 246, 208, 0.84);
    border: none;
    transition: all 0.3s ease;
}

.sign-up:hover {
    background: #4338ca;
    color: white;
    transform: translateY(-2px);
}

.back {
    color: #4f46e5;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.back:hover {
    text-decoration: underline;
}

.fa-brands {
    font-size: 20px;
}