*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-areas:
        "left article"
        "left article";
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: left;
}

article{
    grid-area: article;
    padding: 20px;
    position: relative;
}
article::before{
    content:"";
    background: url(pexels-giancarlo-principe-outdoor-adventures-2158906038-35760694.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
header{
    margin-bottom: 150px;
}
header h1{
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
header p{
    font-size: 15px;
    font-weight: normal;
}
input{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
    background-color: rgb(255, 252, 252);
}
input[type="checkbox"]{
    width: auto;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-70px); 
}
button{
    padding: 10px;
}
.another{
    margin: 10px;
    width: 100px;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(255, 252, 252);
}
.sign-up{
    border-radius: 10px;
    width: 300px;
    background-color: rgba(121, 246, 208, 0.84);
}
.back{
    color: rgba(3, 255, 179, 0.84);
}
.fa-brands{
    font-size: 20px;
}
